.slds-mame-paginator {
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 2px 0 10px 25px;
  #{&}__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .slds-mame-paginator-pages {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      #{&}__divider {
        margin: 0 10px;
        &::after {
          content: '...';
          display: block;
          color: #0070d2;
        }
      }
    }
  }
}
