.slds-triangle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 25px;
  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }
  &#{&}__left {
    &:after {
      border-right-width: 6px;
      border-right-style: solid;
      border-right-color: #015ba7;
    }
    &#{&}--disabled {
      &:after {
        border-right-color: #d3d3d3;
      }
    }
  }
  &#{&}__right {
    &:after {
      border-left-width: 6px;
      border-left-style: solid;
      border-left-color: #015ba7;
    }
    &#{&}--disabled {
      &:after {
        border-left-color: #d3d3d3;
      }
    }
  }
}
